@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ff0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --buttonp: #1D4ED8;
    --buttons: #275052;
    --buttona: #9333EA;
    --buttonw: #DC2626;

    --bgl1: #FFFFFF;
    --bgl2: #efe9f0;
    --borl: #CCCCCC;
    --shadl: #00000080;
    --textl: #000000;

    --bgd1: #000000;
    --bgd2: #001318;
    --bord: #444444;
    --shadd: #ffffff48;
    --textd: #E0E0E0;

    --max-width: 1440px
  }
}

input, textarea, button{
  border: 1px solid #000000;
}