@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ff0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light1: #d9f3ff;
    --dark1: #22023d;
    --light2: #ffffff;
    --dark2: #03031f;
    --lshadow: #cfcfcf;
    --dshadow: #838383;
    --lborder: #ffffff;
    --mborder: #a7a7a7;
    --dborder: #030303;
    --button1: #4817cc;
    --button3: #00ffdd;
    --button2: #ff0037;
    --button4: #cc00ff;
    --max-width: 1440px
  }
}

input, textarea, button{
  border: 1px solid #000000;
}